<div class="card">
  <div class="card-body">
    <h1 class="card-title">{{title}}</h1>

    <div class="mt-4">
      {{#settings}}
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">{{name}}</label>
        <div class="col-sm-9">
          {{#eq type "boolean"}}
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              data-setting="{{name}}"
              {{#if value}}checked{{/if}}
            />
          </div>
          {{/eq}}
          {{#eq type "select"}}
          <select class="form-select" data-setting="{{name}}">
            {{#options}}
            <option>{{.}}</option>
            {{/options}}
          </select>
          {{/eq}}
        </div>
      </div>
      {{/settings}}
    </div>

    <div class="alert alert-secondary mt-4">
      <small>Changes are logged to console</small>
    </div>
  </div>
</div>
