<form class="d-flex flex-column flex-lg-row gap-2 align-items-lg-end">
  <div class="flex-grow-1">
    <label for="todoTitle" class="form-label mb-1">Task</label>
    <input id="todoTitle" class="form-control" type="text" placeholder="Add a new task" />
  </div>
  <div>
    <label for="todoPriority" class="form-label mb-1">Priority</label>
    <select id="todoPriority" class="form-select">
      {{#priorities}}
      <option value="{{value}}" {{#if selected}}selected{{/if}}>{{label}}</option>
      {{/priorities}}
    </select>
  </div>
  <button id="addTodoBtn" class="btn btn-primary px-4" type="button">Add</button>
</form>
