{{#fields}}
<div class="mb-2">
  <div class="row align-items-start">
    <div class="col-sm-1">
      <b>{{name}}</b>
    </div>
    <div class="col-sm-10">
      {{#eq type "value"}}
      <input
        type="text"
        class="form-control"
        value="{{value}}"
        data-field="{{name}}"
        placeholder="Field value"
      />
      {{/eq}}
      {{#eq type "object"}}
      <div class="border rounded p-3 bg-light" data-component="dynamic_form" data-path="{{path}}"></div>
      {{/eq}}
    </div>
    <div class="col-sm-1">
      <button
        type="button"
        class="btn btn-danger me-2"
        data-remove="{{name}}"
      >x</button>
    </div>
  </div>
</div>
{{/fields}}

<div class="mb-3">
  <div class="row align-items-center">
    <div class="col-sm-8">
      <input
        type="text"
        class="form-control"
        placeholder="Field name"
      />
    </div>
    <div class="col-sm-3">
      <select class="form-control">
        <option>value</option>
        <option>object</option>
      </select>
    </div>
    <div class="col-sm-1">
      <button
        type="button"
        id="addFieldBtn"
        class="btn btn-primary me-2"
      >+</button>
    </div>
  </div>
</div>

<div class="mt-4">
  {{#if isRoot}}
  <button
    type="submit"
    class="btn btn-success"
  >
    Submit
  </button>
  {{/if}}
</div>
