<div class="row">
  <div class="col-md-6">
    <h4>Basic Information</h4>
    <table class="table">
      <tbody>
        <tr>
          <th>Name</th>
          <td>{{user.name}}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{user.email}}</td>
        </tr>
        <tr>
          <th>Phone</th>
          <td>{{user.phone}}</td>
        </tr>
        <tr>
          <th>Role</th>
          <td><span class="badge bg-primary">{{user.role}}</span></td>
        </tr>
        <tr>
          <th>Department</th>
          <td>{{user.department}}</td>
        </tr>
        <tr>
          <th>Join Date</th>
          <td>{{user.joinDate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <div class="alert alert-info">
      <h5>{{helper.title}}</h5>
      <p>{{helper.body}}</p>
      <p class="mb-0">To manage user preferences and settings, switch to the <strong>Settings</strong> tab.</p>
    </div>
  </div>
</div>
